* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

.main__container {
  height: 80vh;
  width: 100vw;
  background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
  display: flex;
  justify-content: center;
}